<% layout("layouts/boilerplate.ejs") %>

<body>
  <div class="row">
    <div class="col-6 offset-3">
      <h3>Sign Up</h3>
      <form
        action="/signup"
        method="post"
        class="needs-validation"
        novalidate
      >
        <div class="mb-3">
          <label for="username" class="form-label">Username:</label>
          <input
            type="text"
            name="username"
            placeholder="Enter a username"
            class="form-control"
            required
          />
          <div class="valid-feedback">Username is looking good!</div>
          <div class="invalid-feedback">Please provide a valid username.</div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input
            type="email"
            name="email"
            placeholder="Enter your email"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please provide a valid email.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input
            type="password"
            name="password"
            placeholder="Enter a password"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please provide a valid password.</div>
        </div>
        <div class="mb-3">
          <label for="passwordConfirm" class="form-label">Confirm Password:</label>
          <input
            type="password"
            name="passwordConfirm"
            placeholder="Confirm your password"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please confirm your password.</div>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </div>
  </div>
</body>